@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(250, 253, 255);
}

span {
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    opacity: 60%;
}

.create-incident {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.main-content {
    background-color: white;
    padding: 20px;
    border: 2px solid rgb(124, 124, 124);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form-content {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid black;
}

textarea {
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 2px;
}

textarea:focus {
    outline: none;
    border: 1px solid rgba(158, 60, 158, 0.783);
}

button {
    margin-top: 5px;
    background: none;
    border: none;
    cursor: pointer;
    background-color: rgba(158, 60, 158, 0.783);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}

.description.erro,
.credential.erro {
    border: 1px dashed rgba(255, 3, 3, 0.703);
}